.component-list {
    width: 320px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    flex-wrap: wrap;

    .item {
        box-sizing: border-box;
        width: 31%;
        margin: 1.5% 0 0 1.5%;
        height: 100px;
        display: flex;
        flex-direction: column;
        overflow: hidden;
        cursor: pointer;
        user-select: none;
        background-color: #fff;

        .thumb {
            background-color: #eee;
            width: 100%;
            height: 70px;
        }
        .name {
            flex: 1;
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 14px;
            color: #333;
            cursor: pointer;
        }
    }
}
