.widget {
    display: flex;
    flex-direction: column;
    flex: 1;
    border: 1px solid #aaa;
    position: relative;
    .head {
        background-color: #ddd;
        color: #333;
        font-size: 12px;
        padding: 5px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        user-select: none;
        label {
            display: block;
            width: 20px;
            height: 20px;
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: #fff;
            flex-shrink: 0;
            flex-grow: 0;
            color: #333;
        }
    }
    > .content {
        color: #333;
        font-size: 14px;
        padding: 5px;
        min-height: 30px;
        background-color: #f1f1f1;
        flex: 1;
        display: flex;
        flex-direction: row;
        &.form-item {
            flex-direction: column;
            padding: 0 10px 10px 15px;
        }
        &.center {
            align-items: center;
        }
        &.inline {
            min-height: 0px;
            flex-grow: 0;
        }
        .col {
            border: 1px solid #ccc;
            flex: 1;
        }
    }

    &.active {
        border: 1px solid #333;
        > .head {
            background-color: #333;
            color: #eee;
        }
    }

    &.grid {
        flex: 1;
        > .content {
            flex: 1;
            display: grid;
            .cell {
                min-height: 60px;
                background-color: #fff;
                position: relative;
                user-select: none;
                .empty {
                    border: 1px solid #eee;
                    height: 100%;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                }
            }
        }
    }

    &.preview {
        border: none;
        .content {
            min-height: 0px;
            background-color: #fff;
            .col {
                border: none;
                flex: 1;
            }
            .cell {
                .empty {
                    border: none;
                }
            }
        }
    }
}



.widget-wrapper {
    position: relative;
    .widget-frame {
        border: 5px dashed rgba(0, 0, 0, 0.5);
        position: absolute;
        z-index: 10;
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
        pointer-events: none;
    }
}